* {
    margin: 0;
    padding: 0;
    font-family: Noto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    word-spacing: .0625em;
}

body {
    background-color: #E6E4E0;
}

.description {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "side mapa" "side mapa";
}

.side {
    padding:8px;
    z-index:2;
    grid-area: side;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: 14px 0px 53px -6px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 14px 0px 53px -6px rgba(0, 0, 0, 0.76);
    box-shadow: 14px 0px 53px -6px rgba(0, 0, 0, 0.76);
}
.buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.mapa {
    z-index:1;
    grid-area: mapa;
}

#map {
    margin: auto auto;
    width: 100%;
    height: 100%;
}

.list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item+.list-group-item {
    border-top-width: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    /* max-resolution: left 10px; */
}