.cardView{
    display: grid;
    grid-template-columns: 1fr 75%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "carrousel details" "carrousel price";
  }
  
  .carrousel { grid-area: carrousel; }
  
  .details { grid-area: details; }
  
  .price { grid-area: price; }